page-home {

}

h3 {
  font-size: 3em;
  text-align: center;
  color: #730E15;
}

.feel {
  text-align: center;
  color: #730E15;
}

.button {
  background-color: #e1a332;
  color: white;
  padding: 8%;
}

.button-inner {
  font-size: 2em;
}

.toolbar-title {
  font-size: 2em;
}
