/*
Error: File to import not found or unreadable: ionic.globals.
        on line 15 of variables.scss

10: // rtl styles in your app. For more info, please see:
11: // http://ionicframework.com/docs/theming/rtl-support/
12: $app-direction: ltr;
13: 
14: 
15: @import "ionic.globals";
16: 
17: 
18: // Shared Variables
19: // --------------------------------------------------
20: // To customize the look and feel of this app, you can override

Backtrace:
variables.scss:15
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/import_node.rb:45:in `import'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `each'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/exec/base.rb:52:in `parse'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/lib/sass/exec/base.rb:19:in `parse!'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/gems/sass-3.5.1/bin/scss:13:in `<top (required)>'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/bin/scss:23:in `load'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/bin/scss:23:in `<main>'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/bin/ruby_executable_hooks:15:in `eval'
/Users/olofvignisdottir/.rvm/gems/ruby-2.3.4/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ionic.globals.\A         on line 15 of variables.scss\A \A 10: // rtl styles in your app. For more info, please see:\A 11: // http://ionicframework.com/docs/theming/rtl-support/\A 12: $app-direction: ltr;\A 13: \A 14: \A 15: @import \"ionic.globals\";\A 16: \A 17: \A 18: // Shared Variables\A 19: // --------------------------------------------------\A 20: // To customize the look and feel of this app, you can override"; }
