.side {
  background-color: #e1a332;
}

.toolbar-background {
  background-color: #e1a332;
}

.toolbar-title {
  color: white;
}

.ufood-title{
  font-size: 5em;
  text-align: center;
  padding-bottom: 10px;
  color: #730E15;
}

.container_home {
  position: relative;
  color: transparent;
}

.feel {
  text-align: center;
  color: #730E15;
}

.button {
  background-color: #e1a332;
  color: white;
  padding: 8%;
}

.button-inner {
  font-size: 2em;
}

.toolbar-title {
  font-size: 2em;
}

.ufood-logo {
  width: auto;
  height: auto;
  opacity: 0.4;
  margin-top: 7px;
}

.wheat-img {
  height: 230px;
  align-items: center;
  left: 0;
  width: 100%;
  margin-top: 10%;
}
